:root {
  --e-global-color-astglobalcolor0: #fcd75f;
  --e-global-color-astglobalcolor1: #fce173;
  --e-global-color-astglobalcolor2: #131416;
  --e-global-color-astglobalcolor3: #7a7a7a;
  --e-global-color-astglobalcolor4: #fdfaed;
  --e-global-color-astglobalcolor5: #ffffff;
  --e-global-color-astglobalcolor6: #dfe0e2;
  --e-global-color-astglobalcolor7: #76787f;
  --e-global-color-astglobalcolor8: #f4f4f6;
}
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

body{
  margin:0;
  padding:0;
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', sans-serif;
}
.section {
  background-image: url('../public/assets/background-image.svg');
}
.center{
  margin:auto;
  padding-top: 20px;
  width: 50vw;
}



