@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');


body{
  margin:0;
  padding:0;
  font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend', sans-serif;
}
.section {
  background-image: url('../public/assets/background-image.svg');
}


.center{
  margin:auto;
  padding-top: 20px;
  width: 50vw;
}

@media only screen and (max-width: 600px) {
  /* For tablets: */
  .center{
    margin:auto;
    padding-top: 20px;
    width: 100vw;
  }
 
}
@media screen and (min-width: 768px) {
  /* For desktop: */
  
 
 
}