.container{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center;
    height:250px;
    text-align: center;
    margin:auto;
    margin-top:80px;
    background-color:#fcd75f;
    padding:100px;
}

.text{
    width:600px;
    margin:auto;
    font-size:large
}


@media only screen and (max-width: 600px) {
    /* For tablets: */
    .container{
        padding:50px 0px;
        height: auto;
        margin-top: 30px;
    }
   .text{
        width: 90%;
   }
}