.button{
    display:flex;
    justify-content:center;
    align-items: center;
    width: 270px;
    padding: 10px;
    border: none;
    border-radius: 30px;
    font-size: large;
    color: white;
    background-color: rgba(0, 0, 0, 0.784);
    cursor: pointer;
}

.button:hover {
    background-color: whitesmoke;
    color: black;
}

@media only screen and (max-width: 600px) {
    /* For tablets: */
    .center{
        margin:auto
    }
}